<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="cri-animaux">

    <ion-pane ng-controller="AppController">
      <ion-header-bar class="bar-stable">
          <div class="buttons">
              <button class="button button-icon ion-ios-minus-outline"
              ng-click="model.showDelete=!model.showDelete; model.showMove=false;"></button>
          </div>
        <h1 class="title">Cri des animaux</h1>
          <div class="buttons">
              <button class="button button-icon ion-navicon"
                      ng-click="model.showMove=!model.showMove; model.showDelete=false;"></button>
          </div>
      </ion-header-bar>
      <ion-content>
          <ion-list show-delete="model.showDelete" show-reorder="model.showMove">
              <ion-item class="item-avatar item-icon-right"
                        ng-repeat="item in model.sounds"
                        ng-click="play(item)"
              >

                  <img src="{{item.image}}" alt="{{item.desc}}">
                  <h2>{{item.title}}</h2>
                  <p>{{item.desc}}</p>

                  <i class="icon ion-volume-high"></i>

                  <ion-delete-button class="ion-minus-circled" ng-click="delete($index)"></ion-delete-button>
                  <ion-reorder-button class="ion-navicon" on-reorder="move(item, $fromIndex, $toIndex)"></ion-reorder-button>
              </ion-item>
          </ion-list>
      </ion-content>
    </ion-pane>
  </body>
</html>
